[2019-06-21 09:24] KamiKillertO opened #47 "Add a logo"

[2019-06-21 09:25] KamiKillertO opened #48 "Add a website"

[2019-06-21 09:25] KamiKillertO opened #49 "Update config file"

[2019-06-21 09:30] #49 closed

[2019-06-21 09:30] #47 closed

[2019-06-21 09:30] #48 closed

[2019-07-03 17:52] acalvo opened #55 "[rule] Error with indentation"
Hey! I'm honored to open the first issue in this repo ☺️. Thanks a lot for your work in this project; it looks promising and in the good direction. I'm eager to drop htmllint in favor or LintHTML 😄.

I tested it against our current HTML source code and found something that might be a bug. Consider this code snippet:

[code]

Given the rules `"indent-style": "spaces", "indent-width": 2`, it should

[2019-07-04 09:33] KamiKillertO commented on #55
Thanks for reporting.
You're totally right this should not be considered as invalid, I'll fix it as soon as possible.

By the way you can totally drop htmllint as LintHTML is based from it. Normally there's no differences between them.

[2019-07-04 11:19] acalvo commented on #55
Thanks a lot 😊.

Yesterday I did so, and LintHTML reported a few dozens of errors in our code. Almost all of them regarding indentation: most of them things that htmllint doesn't catch (yay! 🎉), some related with this bug report, and another one regarding the `attr-no-unsafe-char` rule. I didn't fill a bug report for that last one because I'm not sure whether it is or not...

The thing is that we

[2019-07-04 12:36] #55 closed

[2019-07-04 13:25] KamiKillertO commented on #55
@acalvo I've just publish a new version with fixes for your problems (including the on with `attr-no-unsafe-char` 😉 )

Please open new issues if you find other problems 🙏 .
Also don't hesitate to talk about LintHTML around you, I would love to have more people using it and reporting issues/ideas... 😄

[2019-07-05 06:32] acalvo commented on #55
Thank you, that was fast!

I run the new LintHTML version against our main HTML source code and got rid of all the errors except for one last pattern; I'll fill a bug report now.

I'm quite excited about the idea of having a proper HTML linting tool once and for all, so will be around reporting and suggesting as much as you want 😉.

Thanks again!

[2019-07-05 06:32] acalvo opened #58 "[rule] Bug indenting with intercalated text node"
Code following this pattern is currently reported as invalid HTML.

[code]

[2019-07-05 14:37] KamiKillertO commented on #58
Thanks again for reporting. It's fixed and will be released soon.
As I mentioned in the previous issue, LintHTML is forked from htmllint. There's no differences between the rules except for all indent rules that I've completely rewrite 😅 .

[2019-07-05 14:47] #58 closed

[2019-07-09 09:19] KamiKillertO commented on #58
@acalvo is everything ok now ?

[2019-07-09 14:43] acalvo commented on #58
Hey! Sorry for the delay. I run the new version as soon as you released it and it seemed OK, but didn't have time to do anything else till now.

Now I went ahead with the migration and found another matter. Will report it now.

Thanks a lot for your work 😊

[2019-07-09 14:53] acalvo opened #61 "[cli] Always returning 0 response-code"
I was about to include LintHTML in our CI pipeline and found that even with errors the pipeline continued executing as if the linting had gone OK.

This happens because the CLI seems to always exit with a 0 value. Other linters exit with non-zero whenever a linting error occurred.

To test this, provoke a HTML linting error, run LintHTML, and then execute `echo $?`.

[2019-07-09 15:03] acalvo opened #62 "[rule] indent-delta & indent-width-cont"
I'm quite sure `indent-delta` rule isn't used anymore as it doesn't make sense anymore after your refactor. If that's the case, could you delete the references to it across the project (and maybe document it in the "htmllint migration" section of your README)?

I'm not so sure about `indent-width-cont`. Does it still apply?

[2019-07-10 10:11] KamiKillertO commented on #62
The rules `indent-delta` and `indent-width-cont` still exist but don't report any error anymore.
LintHTML should stay compatible with HTMLLINT until the v1 release. In order to do so I cannot remove rules, but in can flag rules as deprecated and display warning messages. This should be done in the coming v0.3 🤞.

Do you use `indent-width-cont` ? I can't find a good reason to keep this rule 🤷‍♂.

[2019-07-10 10:26] KamiKillertO commented on #61
Thanks for reporting 👍, I'm happy to have some reports regarding real uses of LintHTML.

[2019-07-10 11:41] acalvo commented on #62
Oh, OK. Sound good!

OK! Give me some time so that I can migrate all our projects to LintHTML so that I can have a better understanding of the project and meanwhile arise oddities and/or things to improve.

I do use it in one of our projects... but having a look at it, seems more like a workaround for another problem. Tried LintHTML in that project and found another matter. Will report it now 😅😂

[2019-07-10 12:08] acalvo opened #64 "[rule] raw-ignore-regex"
In one of our projects we use [Hugo](https://gohugo.io/) which has this kind of HTML markup: https://github.com/gohugoio/gohugoioTheme/blob/master/layouts/partials/site-nav.html#L15

Note this attribute:  `class="dim link{{ if $currentPage.IsMenuCurrent "global" . }} gray {{else}} light-silver{{ end }}"`

It can have unescaped double quotes (`"`) inside the attribute value, which naturally confuse

[2019-07-10 13:54] KamiKillertO commented on #64
`raw-ignore-text` still exist but it's not a rule. It's something that is used internally to ignore part of the dom. It's not documented because I still don't really know how it works.

[2019-07-10 14:00] KamiKillertO commented on #64
Ok I've had a quick look to the code and I've have a quick fix that should solve your problem. Instead of removing the text that match the regex , I'll replace it with dummy content.

That way code like this one won't report any errors

[code]

[2019-07-10 14:23] acalvo commented on #64
Sounds good!! 😄

Are you thinking of a constant dummy text? Because I just realized that if it was random text I could also turn on some other rules. For example `id-no-dup`, which generates an error if there is something like `id="{{ .var1 }}"` in an element and `id="{{ .var2 }}"` somewhere else.

[2019-07-10 15:11] KamiKillertO commented on #64
More a constant dummy char (`¤`) that will be used to replace every char matching the regex.
For example

[code]

Will be transformed in

[code]

I've updated rules like `id-no-dup`, `class-no-dup`... to ignore everything that contain only `¤`. It's a temporary solution until I find a better solution.

[2019-07-10 15:56] #61 closed

[2019-07-11 07:21] #64 closed

[2019-07-11 09:14] KamiKillertO commented on #64
@acalvo I've released a new version with this "fix" + the one for #61

[2019-07-12 09:12] acalvo commented on #64
Thanks! I just checked that #61 is working great now 🎉. Will play around to see if I find any other issue/suggestion 😊.

[2019-07-12 11:09] acalvo opened #68 "[rule] Bug in tag-close"
This code is reporting a "Tag is not closed" error.

[code]

[2019-07-12 11:16] acalvo opened #69 "[rule] attr-name-style error message"
[code]

This code produces the following error message: `Attribute names must match the format: undefined`. Note the final `undefined` instead of `dash` or whatever.

[2019-07-12 11:27] acalvo opened #70 "[rule] id-no-dup + raw-ignore-regex"
Somethings is failing after #64 :/

Take this code snippet:

[code]

And the following rules:

[code]

It fails with the following error:
[code]

[2019-07-12 11:36] acalvo opened #71 "[rule] attr-name-style + raw-ignore-regex"
Could we have the same workaround you applied for `id-no-dup` and `class-no-dup` in #64 for `attr-name-style`? So that this code snippet passes if `"attr-name-style": "dash"` and `"raw-ignore-regex": "{{.*?}}"` are set.

[code]

[2019-07-12 14:02] #68 closed

[2019-07-12 14:02] #69 closed

[2019-07-12 14:02] #70 closed

[2019-07-12 14:02] #71 closed

[2019-07-15 10:20] acalvo commented on #64
@KamiKillertO Tried LintHTML v0.2.6 and is working great both in our Angular and Hugo projects 🎉. I also tried it in a third project (much more simple, didn't expect to have any problems with it) and worked like a charm. Thank you for the bug fixes! ❤️

Would it be possible to release a new version of [vscode-linthtml](https://github.com/linthtml/vscode-linthtml) that uses LintHTML 0.2.6? It'd be

[2019-07-16 07:30] KamiKillertO commented on #64
Done 👍

[2019-07-17 07:53] acalvo commented on #64
Thank you! I just migrated successfully the three projects I'm involved in to LintHTML 😄.

Will make a documentation PR soon enough ☺️.

[2019-09-13 17:12] bradrich opened #98 "`static-eval` Dependency"
[code]

This is the error report from NPM Audit. Please update your `bulkify` dependency.

[2019-09-16 12:51] KamiKillertO commented on #98
I've just publish a new version without bulkify.

[2019-09-16 12:51] #98 closed

[2019-09-18 17:48] #62 closed

[2019-10-14 13:44] acalvo opened #113 "[rule] Add WCAG accessibility rules"
Being LintHTML a few-months-old fork of htmllint, it doesn't include this PR: https://github.com/htmllint/htmllint/pull/255/files

They're 5 accessibility rules that seem quite interesting. Any chance of including it, @KamiKillertO ? 😄

[2019-10-14 16:01] KamiKillertO commented on #113
I've planned to include these rules in the v0.3.0.

[2019-12-13 10:51] #113 closed

[2020-01-23 15:35] acalvo opened #140 "[rule] `button-req-content` crashing when comment inside"
[code]

The given snippet makes LintHTML crash when `button-req-content` is set to `true`.

[2020-01-28 07:49] acalvo opened #142 "[rule] `link-min-length-4` not properly identifying content?"
Not sure if it's a bug, but I found this other issue trying LintHTML against the HTML of our projects:

[code]

This code snippet triggers an error in the `link-min-length` rule since the content is wrapped in a `span` tag. Is it expected behavior?

[2020-01-31 15:14] KamiKillertO commented on #140
Thanks for the report it's fixed now :+1:

[2020-01-31 15:14] #140 closed

[2020-01-31 15:14] KamiKillertO commented on #142
Thanks for the report it's fixed now :+1:

[2020-01-31 15:14] #142 closed

[2020-02-07 17:51] zextis opened #147 "Violation of rule when code is formatted (Prettier)"
Hello! 👋 The following formatted code should **not** be a violation of the "attribute values cannot be empty" rule, but is currently being interpreted as such.

![image](https://user-images.githubusercontent.com/19380973/74052576-2d34f480-49a8-11ea-9779-1d2623297864.png)

[2020-02-08 12:48] KamiKillertO commented on #147
Indeed :thinking:, thanks for reporting. Can you share your config to help me reproduce ?

[2020-02-10 22:45] acalvo opened #148 "Proposal for new rule: forbid surrounding spaces"
Speaking with a colleague about other matters, we came up with a possible new linting rule that it'd be useful at least for us: forbidding spaces just after a tag is opened and just before a tag is closed. Line breaks should be handled, though. Here there are some valid/invalid code snippets to reflect the proposal and inspire a test suite for it.

**VALID** snippets:

[code]

[code]

[code]

[cod

[2020-02-12 14:51] KamiKillertO commented on #147
@zextis :point_up: having your config will help me a lot :pray:

[2020-02-12 15:48] KamiKillertO commented on #148
That's a good idea.
:thinking: I'm wondering if we should split in two rules or not.
One rule to deal with space after an opening tab and one to deal with space before a closing tag

[2020-02-12 17:44] zextis commented on #147
@KamiKillertO sorry for the late reply, and I have no config. Its just when Prettier formats my HTML code and puts them on separate lines (like in the pic), lint-html thinks the attributes aren't there.

[2020-02-12 18:38] acalvo commented on #148
Hmmm... Good point. After thinking about it, I wouldn't split it. Mainly because of two reasons. The first one is that if they were 2 separate rules, I don't see why someone would want to enable one and disable the other. The second one is that I looked for eslint/stylelint rules that could be similar to this case to see what they're doing and found this example: https://eslint.org/docs/rules/spac

[2020-02-12 20:28] KamiKillertO commented on #147
Ok so it means that the default config is generating this error :thinking:. Thanks for the reply

[2020-02-13 08:48] KamiKillertO commented on #148
:thinking: good point, I agree.
This is rule is not really suitable for a split. A more suitable rule for a split would be one who enforcing newlines.

[2020-02-13 09:26] KamiKillertO commented on #147
I'm not able to reproduce this error.
Are you still having the error ?
Can you copy/paste the complete error message ?

[2020-02-25 09:38] pacocom opened #151 "Error linthtml: Cannot find global or local @linthtml/linthtml package"
Error:
linthtml: Cannot find global or local @linthtml/linthtml package

![image](https://user-images.githubusercontent.com/7735329/75234355-c2165b00-57ba-11ea-9f10-2e69626917b9.png)

![image](https://user-images.githubusercontent.com/7735329/75234387-d3f7fe00-57ba-11ea-928f-801a0333bb9b.png)

Version: 1.42.1 (user setup)
Commit: c47d83b293181d9be64f27ff093689e8e7aed054
Date: 2020-02-11T14:45:59.6

[2020-02-25 10:05] pacocom opened #152 "Error with Angular"
In my case I have Angular 8 (Angular 9 too):
![image](https://user-images.githubusercontent.com/7735329/75236842-b036b700-57be-11ea-9875-73dbec9ff541.png)
![image](https://user-images.githubusercontent.com/7735329/75237691-13751900-57c0-11ea-8149-e49eefd2efc6.png)

It's possible to add custom attr, tag, etc... for compatibility with Angular?

Thanks.

[2020-02-25 10:16] pacocom commented on #151
Sorry I close the issue only need:

`npm install @linthtml/linthtml --save-dev`
`npx linthtml --init`

to create `.linthtmlrc` file

[2020-02-25 10:16] #151 closed

[2020-02-26 15:25] KamiKillertO commented on #152
At the moment there's no support for angular or any other framework. I'll have support for Angular and other frameworks but not soon (after v0.7 or more). There's other things that need to be fixed/improved before.

In the meantime you can solve your problem by changing the config for the rule `attr-name-style`, the rule accept a Regexp as config. Based on your screenshots, if you use the followin

[2020-02-26 16:22] pacocom commented on #152
Thank.

Do I need to change .linthtmlrc file (in documentation you can use .linthtmlrc file) to .linthtmlrc.js file only or any more configuration?

Thank.

[2020-02-26 17:15] KamiKillertO commented on #152
Yes, you can use the `.linthtmlrc` file instead.

[2020-02-28 16:48] pixelastic opened #154 "[core] [cli] Can't lint files ignored by git"
Hello,

I would like to run `linthtml` on the `./dist` folder generated by my static website generator, right before publishing it, to make sur my HTML is valid. This folder is ignored by git through `.gitignore`.

Unfortunately, linthtml seems to completely ignore my files:
[code]

If I move the folder to `./foo`, it works correctly.

From my quick digging into the code, I think `globby` excludes

[2020-02-28 16:50] pixelastic opened #155 "[rule] Finding broken links"
Is there a rule to allow finding broken links?

For example if I have a `<a href="foo.html">foo</a>` but I don't have a `foo.html` page?

[2020-03-02 10:58] KamiKillertO commented on #155
At the moment no, and I'm not planning on adding this kind of rule at the moment.
Maybe It could a good candidate for a plugin (plugins are planned for v0.6.0)

[2020-03-02 11:08] KamiKillertO commented on #154
Yes globby is set to use `.gitignore` to exclude files/folders from the search.
I'll have an option to enable/disable this in the config file + an other option to manually specify files/folder to ignore (like `excludedFiles` in Eslint)

[2020-03-03 16:47] pixelastic commented on #154
I don't know if you can infer from the arguments of the commandline what is supposed to be tested. For example if I explicitly run `linthtml ./dist/*.html` then it should not be excluded, but if I use a generic glob like `linthtml ./**/*.html` it's safe to assume I want to ignore it.

Or maybe it's too much magic, and a `--lintIgnoredFiles` or other `--force` option is enough.

[2020-03-03 16:49] pixelastic commented on #155
Thanks for the comment. In the meantime I found https://urlint.co/ that does this specifically.

[2020-03-03 16:49] #155 closed

[2020-03-05 09:29] KamiKillertO commented on #155
👍 this is a nice tool 👍

[2020-03-05 09:31] KamiKillertO commented on #154
🤔 I'll check how eslint and stylelint handle this

[2020-03-05 12:38] KamiKillertO commented on #154
Eslint and Stylelint behave the same way. If a file is marked as ignored in your config it will be ignored not matter what.

[2020-03-05 12:52] KamiKillertO commented on #154
Regarding your problem I've a solution.
By default LintHTML will use the gitignore files to exclude files/folders from the lint.
I will add an option for the cli and the config file to manually define the list the exclude files/folder. If this option is provided LintHTML will use it instead of the gitignore file.

What do you think about it?

[2020-03-05 16:22] pixelastic commented on #154
Yes I think that's a great way to solve it. I would even create a `.linthtmlignore` file. If present it should be used instead of `.gitignore`, but default to `.gitignore` if not. I *think* that's how `.npmignore` works.

[2020-03-10 16:00] KamiKillertO commented on #154
I've published a new beta release with this new feature. There's some documentations [here](https://github.com/linthtml/linthtml/blob/develop/docs/ignore-code.md) and [here](https://github.com/linthtml/linthtml/blob/develop/docs/configuration.md)

[2020-03-13 10:03] KamiKillertO commented on #152
@pacocom are still having issues ?

[2020-03-13 10:04] KamiKillertO commented on #147
@zextis ?

[2020-03-13 10:12] pacocom commented on #152
Thank!! I close it.

[2020-03-13 10:12] #152 closed

[2020-03-13 10:55] Ryuurock opened #162 "Don't support browser？"
Don't support browser？

[2020-03-13 11:15] KamiKillertO commented on #162
:thinking: I did not try to use it in the browser but I think it should work.

[2020-03-13 11:15] KamiKillertO commented on #162
[code]

[2020-03-13 15:07] Ryuurock commented on #162
Thanks!

[2020-03-13 15:07] #162 closed

[2020-03-14 18:29] ndixon opened #164 "Search .linthtmlrc up to home directory (not just cwd)."
Currently, `stopDir` is set to `process.cwd()`, which isn't ideal for projects with configuration files located in home directories. Provide a cli option that reverts the `stopDir` setting to the default cosmiconfig behavior.

Perhaps something like `--config-stop-dir` that accepts `cwd` (default) or `home`.

[2020-03-17 10:30] KamiKillertO commented on #164
It seems that it's how Eslint [behave](https://eslint.org/docs/user-guide/configuring#using-configuration-files-1) so I don't mind  reporting this behavior.

I've planned to improve the config file management in `0.5.0` with the search of a config file for each linted files from the current directory to `process.cwd`. So stopping at the `HOME` instead is not a big deal 👍

[2020-03-18 10:11] KamiKillertO commented on #154
@pixelastic do you have the time to test?

[2020-03-24 02:09] tonioloewald opened #171 "attr-ignore-regex not implemented"
The link goes to the wrong place.

Without supporting this, all svgs throw errors.

[2020-03-24 02:20] tonioloewald commented on #171
Ignore this (the docs are missing but the code is there).

[2020-03-24 02:20] #171 closed

[2020-03-30 14:14] pixelastic commented on #154
Hey, sorry I don't have time to test at the moment. I'll try to give it a go when this whole *confinement* thing is over.

[2020-05-27 09:21] akumanara opened #195 ""class-style": "bem" does not accept any dash in class name."
As you can see in the naming conventions (Naming rules) for BEM below, it says the following:
Words are separated by a hyphen (-).

So for example, the class class="hp-intro__logo" is valid, but the linter throws the following error.
Value "" of attribute "class" does not respect the format: bem

Resource:
https://en.bem.info/methodology/naming-convention/#naming-rules

[2020-05-27 09:33] KamiKillertO commented on #154
@pixelastic linthtml@0.4.0 has been released with this feature

[2020-05-27 09:41] KamiKillertO commented on #195
@akumanara I cannot reproduce your issue 😞 . Can you provide the following information to help me?

- Your version od linthtml
- you config file
- the HTML causing the issue

[2020-05-27 09:53] akumanara commented on #195
@KamiKillertO Thanks for your response, i just saw that it didnt like an extra space! my bad!
Cheers

[2020-05-27 09:53] #195 closed

[2020-05-27 10:53] KamiKillertO commented on #195
Happy to here that there's no issue with the bem analyzer 😊 . But there is still an issue here, the linter should not report an issue for  spaces ><

[2020-05-27 11:16] akumanara commented on #195
Fun times!
in that case you can see the error in the following section (it has 2 spaces after hp-intro)
<section class="hp-intro  section-space">

[2020-06-05 06:25] CVral opened #198 ""warning"/"error" Seems to be not responding."
I tried playing around the rules with _warning_ but seems it always turns out to be _error_.  Is there a way I could configure linthtmlrc.js so as to show the rules as warning and not error as always.
Ver : 0.4.1
Using VS-Code IDE and linthtml extension: kamikillerto.vscode-linthtml

[code]

[2020-06-05 07:27] KamiKillertO commented on #198
@CVral your config is correct. The problem is not in linthtml but in the vscode-linthtml the extension does not correctly display the issue level :man_facepalming:. Can you open an issue in the vscode-linthtml repository?

[2020-07-03 06:47] #154 closed

[2020-07-23 15:29] hansnolte commented on #151
Hello pacocom,

can you please tell me where you copied the .linthtmlrc?
(The path to the .linthtmlrc.)

And how did you create them without suffix.
(Simply renamed?)
I can only choose between JavaScript, YAML and JSON.

Thanks in advance

[2020-08-05 13:49] KamiKillertO commented on #164
Hello @ndixon I've just published a new beta version (0.5.0-beta.3) which improve how file config are managed. Now for each file linted LintHTML will search for a config file from the file local folder to the `HOME` directory

[2020-09-02 13:12] KamiKillertO commented on #148
@acalvo There's an opened PR (#226) to add this rule, please have a look

[2020-09-02 13:33] acalvo commented on #148
Looks great @KamiKillertO !! 😀

Is there an easy way to test it against my codebase to see if it reports any oddity? To give you proper feedback before merging the PR, I mean.

[2020-09-02 13:36] KamiKillertO commented on #148
Yes just add `"@linthtml/linthtml": "github:linthtml/linthtml#feat/rule_no_surrounding_whitespace",` in your `package.json`

[2020-09-02 13:58] acalvo commented on #148
Good trick, didn't know it. Thanks!

[2020-09-16 13:06] KamiKillertO commented on #164
I've release LintHTML 0.5.0 with this feature

[2020-09-16 13:06] #164 closed

[2020-09-16 13:08] KamiKillertO commented on #148
I've released [LintHTML 0.5.0](https://github.com/linthtml/linthtml/releases/tag/0.5.0) which contain this new rule.

[2020-09-16 13:08] #148 closed

[2020-09-23 15:30] straker opened #240 "Possible to add custom rule support?"
I was wondering if you'd be interested in allowing custom rules. The Legacy Linter allowed custom rules through the `Config` but the Linter takes the list of rules directly from the directory. I'd be happy to write a PR if that's something you'd be interested in.

[2020-09-24 09:22] KamiKillertO commented on #240
I'm planning on adding a plugin system like Eslint, Stylelint in v0.7.0.
I've disabled the possibility to define custom rules because the feature was not documented and I wanted to improve rules definition, name convention, inline configuration, configurations... before.
But, if you have some ideas feel free to open a PR and I'll have a look 👍.

[2020-09-28 15:48] straker commented on #240
Awesome. If you're planning on adding it for v0.7 then I can wait for it.

[2020-09-28 15:48] #240 closed

[2020-10-09 11:48] acalvo opened #243 "Error: Cannot read property 'toLowerCase' of undefined"
Hi!

I'm having troubles upgrading to v0.5.0, and I see that it can be easily reproducible this way:

[code]

index.html:
[code]

Run:
[code]

[2020-10-09 12:02] acalvo opened #244 "`linthtml --init` not working for JSON format"
`npx linthtml --init` and selecting `JSON` as a format (either with the legacy or the new config) generates a `.linthtml.json` file with this content:

[code]

[2020-10-09 13:55] acalvo opened #245 "indent rules not working in v0.5.0"
With LintHTML v0.4.2 and this `.linthtmlrc.js`:

[code]

If I had this HTML file:

[code]

`npx linthtml index.html` would report the following error:

[code]

That's OK. But if now I upgrade it to v0.5.0, and run `npx linthtml index.html` again, the error is gone 😕:

[code]

[2020-10-09 16:44] KamiKillertO commented on #245
🤔 Ok it seems that there's an error during the parsing of HTML that prevents the file from been linted correctly.

[2020-10-09 16:44] KamiKillertO commented on #244
🤦 Indeed

[2020-10-09 16:50] KamiKillertO commented on #244
Thanks for reporting, I've just published a new release with a fix for this issue, #243 and #245

[2020-10-10 13:31] #245 closed

[2020-10-10 13:31] #244 closed

[2020-10-10 13:31] #243 closed

[2020-10-10 14:33] acalvo commented on #244
Thank you for the super fast fix!! 😄

[2020-10-10 14:41] acalvo opened #246 "Inline config: disable indent rules"
Hi again 😅

I have the following HTML code:

[code]

With this LintHTML config:

[code]

And it throws this error:

[code]

That's OK. I understand the error and agree with it. But I really need it to be like that in that specific case. So I tried disabling the rule (with inline config). I tried several things like:

[code]

But no luck at all. The error keeps showing. Am I doing something wrong o

[2020-10-12 07:31] KamiKillertO commented on #246
Ok, I've reproduced. 🤔 For some reason, it's no working.

[2020-10-12 07:48] KamiKillertO commented on #246
The `indent-*` rules ignore the inline config unless it's on top of the file.
This works:
[code]
Contrary to the other rules, the `indent-*` rules are not run for each HTML node but only with the first one (`p` in this case).
I need to refactor these rules to make them work like the others. And until then, I'll have a warning message in an inline configuration doc to states this limitation.

[2020-10-13 06:41] acalvo commented on #246
Thanks for the workaround! Putting it on top of the file does the trick 😊

[2020-11-20 19:34] jaredcwhite opened #256 "Unexpected issue with globbing through subfolder trees"
I seem to be having an odd issue where the `**` glob pattern is only going one level deep and not searching recursively. To find all the files I'm looking for I have to repeat `**` several times, like so:

[code]

[2020-11-21 13:12] KamiKillertO commented on #256
Ok, first question, what version of LintHTML are you using?
Have you try adding quotes around the glob pattern? `Likes yarn linthtml "src/**/*.{html,erb,serb,liquid,md}"`

[2020-11-26 21:39] jaredcwhite commented on #256
@KamiKillertO The quotes trick worked! All set now :+1:

[2020-11-26 21:39] #256 closed

[2020-12-05 21:06] usernamehw opened #263 "Make json schema for config validation"
Json schema would allow IDE to have autocomplete/validation for configuration files.

https://json-schema.org
https://www.schemastore.org/json/
https://github.com/SchemaStore/schemastore
https://json.schemastore.org/htmlhint

[2020-12-06 10:30] usernamehw opened #264 "Create a config for rule for "indent-width" to be 0 for <body> and <head>"
To have indent:

[code]

Instead of current:

[code]

---

Example of similar config at vue linter:

https://eslint.vuejs.org/rules/html-indent.html

[code]
Where `baseIndent` is indent for global tags.

[2020-12-07 15:30] KamiKillertO commented on #264
Thanks for the suggestion 👍 . I'm planning on merging all indent-x rules into on rule `indent` (or `tag-indentation`) in a future release. I'll add your suggestion at the same time ^^

[2020-12-07 15:30] KamiKillertO commented on #263
Thanks for the suggestion, it's planned ^^

[2020-12-14 20:23] nghiado opened #273 ""attr-new-line": 0 issue with latest version 0.5.1"
I upgraded  "@linthtml/linthtml": "^0.3.2", to "5.0.1" and got many errors on existing code base.
Here is the sample html template
[code]
but still get error
```Only 0 attributes per line are permitted  attr-new-line```

Confirmed that version  "@linthtml/linthtml": "^0.4.1" working fine with "attr-new-line": 0 setting

[2020-12-15 16:19] KamiKillertO commented on #273
@nghiado thanks for reporting, I'll check this.

Many errors that are not correct?

[2020-12-15 16:31] nghiado commented on #273
@KamiKillertO , I double checked with 0.4.1 and htmllint pass with the same config/html files.

[2020-12-15 16:42] KamiKillertO commented on #273
The HTML parser used by linthtml has been updated in the release 0.5.0. Thanks to that some errors that were not detected before are detected now. So, it's not abnormal if you have new errors after updating but it's also possible for some bugs to have been introduced 😓.
So please report issues if you thinks that some of your errors are incorrect 🙏

[2020-12-15 17:05] nghiado commented on #273
@KamiKillertO As you can see, this template should pass lint rule **"attr-new-line": 0** acording to the doc

_If set, no more than this number of attributes may be on the same row. A value of 0 applies only to the first row, restricting subsequent rows to one element._

[code]

[2020-12-17 11:50] #273 closed

[2020-12-17 11:56] KamiKillertO commented on #273
@nghiado I've just published version 0.5.2 with the fix for your issue. Please report any other errors you might encounter in the future 😄

[2020-12-19 02:33] nghiado commented on #273
Thank you very much @KamiKillertO

[2020-12-25 10:04] nikolai-shabalin opened #281 "Rule "line-max-len-ignore-regex" exist?"
[line-max-len-ignore-regex documentation](https://github.com/linthtml/linthtml/tree/develop/lib/rules/line-max-len#line-max-len-ignore-regex)

I trying to disable the rule, but it doesn't seem to exist.

[code]

 Console alert

[code]

[2020-12-25 10:19] KamiKillertO commented on #281
Yes, this is not considered as a rule with the new config format. Move this line outside `rules` and you will no longer have the error. I think it's explained in the migration guide 🤔

[2020-12-25 10:24] nikolai-shabalin commented on #281
Thank you

[2020-12-25 10:24] #281 closed

[2021-02-03 10:28] nickyblissAviva opened #297 "input-req-label flags error on hidden and button inputs"
We have the rule input-req-label turned on but after updating from v0.4.2 to 0.6.0 it is now flagging that we have missing labels for both hidden and button inputs eg

[code]

I would not expect either of these types of input to require a label so should not be flagged.

[2021-02-10 09:32] KamiKillertO commented on #297
Thanks for reporting I'll have a look

[2021-02-10 09:58] KamiKillertO commented on #297
I've managed to reproduce this issue with LintHTML v0.4.2 😞 . This rule just doesn't deal with hidden and button input 🤦 . This is an inheritance from HTMLLint, I've never updated this rule 😓 . I'll fix this issue as soon as possible ^^

[2021-02-12 14:12] #297 closed

[2021-02-12 14:29] KamiKillertO commented on #297
@nickyblissAviva  I've just published a new version with a fix for your problem.

[2021-02-15 10:15] DerZyklop opened #304 "Cli Error since version 0.6.1: `Flag keys may not contain '-': print-config`"
I can not lint with version 0.6.1. I get

`Flag keys may not contain '-': print-config`

No matter if i run `npx linthtml './src/**/*.html'` or `npx linthtml --version` or even `npx linthtml`.

Everything works fine with 0.6.0

Some cli output:
![Screenshot 2021-02-15 at 11 09 49](https://user-images.githubusercontent.com/912344/107933410-ff9d6680-6f7e-11eb-95b6-5c96b1c9f8ff.png)

[2021-02-15 10:21] sylvaindumont commented on #304
It is caused by meow 9.0.0 https://github.com/sindresorhus/meow/releases/tag/v9.0.0 which now forbids snakecase.
It can be fixed by forcing meow 8.1.1 in yarn resolutions or by pining it in linthtml.
The correct fix is to change print-config flag to camel case in linthtml but it could be a breaking change for some users.

[2021-02-15 13:18] KamiKillertO commented on #304
My bad I've updated meow without really looking at the changelog 🤦

[2021-02-15 13:25] KamiKillertO commented on #304
@DerZyklop @sylvaindumont I've just released LintHTML 0.6.2 with a fix.

[2021-02-15 14:21] nickyblissAviva commented on #297
Thank you @KamiKillertO Once you have officially released the patch I'll update our npm package and give it a go.

[2021-02-15 14:24] #304 closed

[2021-02-15 15:54] KamiKillertO commented on #297
@nickyblissAviva the patched version is already available on npm.

[2021-02-15 16:22] nickyblissAviva commented on #297
@KamiKillertO It wasn't updating earlier. Maybe something to do with our proxy, but its updated now.

Your fix has cleared the majority of errors but I have one flagged for

`<input type="submit" value="Generate" />`

[2021-02-15 16:26] KamiKillertO commented on #297
🤦 I forgot the submit input 🤦

[2021-02-22 21:07] Bestulo opened #305 "How to allow closing multiline tags with no content?"
![image](https://user-images.githubusercontent.com/23301025/108770176-61863f00-7530-11eb-81ad-d3f01bf6264c.png)

![image](https://user-images.githubusercontent.com/23301025/108770191-664af300-7530-11eb-8a70-38a5867502b5.png)

This is generated by Prettier and I don't disagree with it. But I don't know which rule, if any, I can modify on `.linthtmlrc.js` to allow me to close tags this way.

[2021-02-22 21:09] KamiKillertO commented on #305
🤔 this should not report an error indeed

[2021-02-24 09:05] KamiKillertO commented on #305
@Bestulo I've just released the version 0.6.3 which contains a fix for your problem. Tell me if it's ok now

[2021-03-25 04:52] dredshep opened #321 "Invalid Config for rule "indent-style" - Unexpected string value tabs"
![image](https://user-images.githubusercontent.com/78047001/112420819-427ff600-8d04-11eb-9607-f43949a7afff.png)

![image](https://user-images.githubusercontent.com/78047001/112420869-5b88a700-8d04-11eb-83b0-2ed471607f5b.png)

Isn't this supposed to be the value? I'm using [this as documentation](https://github.com/linthtml/linthtml/blob/develop/lib/rules/indent-style/README.md)

[2021-03-25 04:53] Bestulo commented on #305
I think it is. I haven't had that issue anymore.

[2021-03-25 04:53] #305 closed

[2021-03-25 11:36] KamiKillertO commented on #321
@dredshep here you are using the [new config format](https://github.com/linthtml/linthtml/blob/develop/docs/migrations.md#030-upgrade-guide).
We the new config format we need to write this:

[code]

The rules documentation pages are still using the legacy config format 😅 , I need to update them.
Here's the [documentation page](https://github.com/linthtml/linthtml/blob/develop/docs/configuration.md

[2021-05-21 09:09] KamiKillertO commented on #240
@straker Sorry for the long wait. The plugins feature did not land on the v0.7.0 release but will land in the next release (0.8.0).
I'll release the first beta today, so if you are still interested, please have a look ^^.

[2021-06-07 12:01] PedroIssaGit opened #362 "Help to create a config that respect Google Html Style Guide"
https://google.github.io/styleguide/htmlcssguide.html
I need your helper, to create a config file, for this amazing linter, to respect the google html style guide, this will be amazing!

[2021-06-07 15:45] KamiKillertO commented on #362
That's a great idea.
It's quite easy to create config files for LintHTML and there're some documentation pages you can look at ([Create shareable configs](https://github.com/linthtml/linthtml/blob/develop/docs/shareable-configs.md) and [Configuration doc page](https://github.com/linthtml/linthtml/blob/develop/docs/configuration.md))

[2021-06-09 13:23] PedroIssaGit opened #364 "Webpack loader?"
https://www.npmjs.com/package/htmllinter-webpack-plugin
This webpack loader, can be adopted to work with linthtml? And finally this amazing linter will have a webpack loader?

[2021-06-10 08:50] KamiKillertO commented on #364
It's planned yes, I just didn't have the time to work on it 😅.

[2021-06-10 12:57] PedroIssaGit commented on #364
I understand, i'm excited waiting, i had tried to make the adaptation, but does not worked and i dont have time to work in the loader for now...

[2021-06-10 16:02] KamiKillertO commented on #364
If you have started something can you share it? Maybe I can make it work easily 🤞

[2021-06-10 16:05] PedroIssaGit commented on #364
Of course, it's my fork  https://github.com/PedroIssaGit/linthtml-async-loader of this another repository that was developed for htmllint https://github.com/nskazki/htmllint-async-loader

[2021-06-12 08:54] #147 closed

[2021-06-12 08:55] #246 closed

[2021-06-16 13:50] PedroIssaGit commented on #364
It was useful for u?

[2021-06-21 14:12] acalvo opened #368 "New rule to enforce `height` and `width` attrs in `img` tag"
Hey!

A suggestion for a new rule: enforce setting the `height` and `width` attributes in `img` tags. Could be named `img-req-dimensions` or something like that.

The reason behind that good practice is explained in https://developer.mozilla.org/en-US/docs/Web/Media/images/aspect_ratio_mapping and https://www.youtube.com/watch?v=4-d_SoCHeWE . But to sum up: if you don't set it, the browser cannot

[2021-06-24 09:53] nikolai-shabalin opened #372 "Conflict rules `attr-req-value` and `img-req-alt`"
## Config
[code]

## HTML
[code]

## Error
[code]

but the rule  `'img-req-alt': [true, 'allownull']` allows `alt=""`.

[2021-06-24 10:11] nikolai-shabalin commented on #372
The rule also

[code]

expects the `alt` be filled out

[2021-07-01 21:53] tylercrocker opened #374 "REGEXP config items do not support REGEXPs as strings "ignore.test is not a function""
If you use the JSON config and have something like ```"id-class-ignore-regex": "/{{.*}}/"``` the config pulls it in and tries to run "test" directly on the string rather than trying to convert it from a string first to a REGEXP.

I was able to switch this to the JS config format and it works but I have to use `raw-ignore-regex` instead of the former.

[2021-07-01 22:03] tylercrocker opened #375 "Is "spec-char-escape" just not implemented?"
I'm noticing it is not considered a rule so it goes with the regexes, but then trying to turn it to "true" appears to do nothing?

[2021-07-05 15:17] KamiKillertO commented on #372
Indeed there's a rule conflict here. 🤔 A way to fix this issue could be to add a config param to the `attr-req-value` rule to ignore certain attributes.

[2021-07-05 15:27] KamiKillertO commented on #375
That's is a mistake, this is normally a rule ^^ but the rule has been disabled since linthtmlv0.2 as the rule was not working as expected and also because you don't escape with `\` in HTML.
I'm curious why do you need this rule?

[2021-07-05 15:35] KamiKillertO commented on #374
True, true I should convert the config to a regexp before 👍 . Thanks for reporting

[2021-07-22 06:44] KamiKillertO commented on #368
Great idea 👍

[2021-07-22 06:50] KamiKillertO commented on #368
I'm not planning on adding new rules directly inside LintHTML for the moment. I'll focus more on cleaning/deprecating some of the existing rules and adding new core features (like the parser and the plugin one).
But, I'll create a new repo `linthtml-next` (or something like that) to experiments the new rules that are going to be included by default in the first major version of LintHTML

[2021-07-22 07:14] KamiKillertO commented on #374
@tylercrocker I've released LintHTML v0.8 which contains a fix for this issue

[2021-07-22 07:14] #374 closed

[2021-10-26 21:03] iansantagata opened #411 "Globstar Not Detecting Root Directory Files"
### Problem
When running `linthtml **/*.html`, HTML files in the root directory are not reported as found and are thus not analyzed or linted.

There seems to be a bug or unexpected feature that is not explained with which files are ignored and in what directories.

Note that this is with no configuration file.

### Steps to Reproduce

1. Setup a directory and file structure like the following:

[

[2021-11-02 16:21] KamiKillertO commented on #411
@iansantagata I've run some tests on Linux and everything seems to be working just fine.

![image](https://user-images.githubusercontent.com/9579729/139901610-d9687e0c-adae-4b2d-abfe-2a0ad1d6223d.png)

The documentation about the ignore is somehow lacking some explanations, here's how the feature works.
When running `linthtml pattern` :
* the cli will start by looking if there's a `.linthtmlignore

[2021-11-02 17:12] iansantagata commented on #411
Ah, I see what the problem here is actually.  I have duplicated your example myself in a new folder and created a `package.json` class at root in that folder like this:

[code]

If I am in `test-folder` and I run `npm run linthtml`, which will call the script in the `scripts` section of the `package.json` file, it will pick up all 4 files and analyze them properly with the globstar.

However, when

[2021-11-02 17:16] iansantagata commented on #411
Any ideas why these two would be different?  I would expect the output of both of them to be the same.

[2021-11-03 10:28] KamiKillertO commented on #411
Ok, I was not able to reproduce your problem using npx but I was able to reproduce it with the npm script.
I'm not sure why you are having the issue with npx but what I can tell you is that you should use quotes around glob patterns.
It's explained in details in this [article](https://medium.com/@jakubsynowiec/you-should-always-quote-your-globs-in-npm-scripts-621887a2a784)
Everything should be fin

[2021-11-03 14:29] iansantagata commented on #411
Ah, that might be the problem!  Thanks for the debugging help here!

Definitely seems more like user error at this point than anything to do with the library, so closing this issue.

Thanks again!

[2021-11-03 14:29] #411 closed

[2021-11-19 15:53] justinmarsan opened #413 "attr-order doesn't match Angular * [] and () attributes"
With the following HTML :  `<div class="item" *ngIf="checkboxBindColumn && form && rows.length">` and the following config : `"attr-order": ["error", ["*ngIf", "class"]]` I expect an error but none is found.

I've tried escaping it as a regex as well : `"attr-order": ["error", ["(\\*ngIf)", "class"]]` no error either.

I have the same issue with `"attr-order": ["error", ["[ngClass]", "class"]]` an

[2021-11-26 17:32] KamiKillertO commented on #413
@justinmarsan Thanks for reporting, I will have a look.
What version of LintHTML are you using?

[2021-11-26 17:52] KamiKillertO commented on #413
Ok, I've found the problem 👍 .
I'll release a fix as soon as possible

[2021-11-26 18:41] justinmarsan commented on #413
Oh great ! I'm using the last version, freshly installed using npm.

Let me know if I can be of any help to resolve this.

[2021-11-27 11:11] KamiKillertO commented on #413
@justinmarsan I've released a new version with the fix. Let me know if it's working correctly or not ^^

[2021-11-29 08:56] justinmarsan commented on #413
@KamiKillertO Just updated and it is working much better. To make it even more perfect I'd like to use regexes but I couldn't fid examples in the doc of the proper syntax for use for that, would you have one at hand ? Here's a basic example : `"attr-order": ["error", ["#.+", "*ng.+", "class"]]`

[code]

Thanks for you for this quick fix !

[2021-11-29 09:05] KamiKillertO commented on #413
@justinmarsan If you want to provide regexes to the `attr-order` rule, you just need to use the regex syntax in your config.

[2021-11-29 09:08] justinmarsan commented on #413
Is this compatible with the JSON file configs ?

[2021-11-29 09:43] KamiKillertO commented on #413
I think not 🤔 . Honestly I've never tried

[2021-11-29 09:55] justinmarsan commented on #413
Okay, I converted it to JS format, that wasn't too difficult.

I'm now getting errors : `"attr-order": ["error", [/#.+/, "class"]]` and `<div class="s-bubble" #bubbleWrapper>` and I get an error : Cannot read property 'loc' of null

The lint passes properly on the first file in alphabetical order (but it doesn't contain any ref (#hashtag)) and displays this error twice in that file that has 2 elem

[2021-11-29 10:27] KamiKillertO commented on #413
Ok, I've found the reason for that error too.

[2021-11-29 10:51] KamiKillertO commented on #413
@justinmarsan I've just released a new version with the fix.

[2021-11-29 10:54] justinmarsan commented on #413
Updated, ran again, worked perfectly !

Wonderful, thank you for the timely fixes! 🥳

[2021-11-29 10:54] #413 closed

[2021-12-14 13:57] viT-1 opened #420 "invalid config attr-bans with custom attributes"
I have an erron in VS Code: `linthtml: Invalid Config for rule "attr-bans" - Unexpected string value "incorrect"`
linthtml configured as ` { "rules": { "attr-bans": ["incorrect"] } }`
html for testing linter: `<body iam-block-elem="mod" incorrect='attr'></body>`
What I'm doing wrong?

LintHTML VSCode plugin v0.6.2
@linthtml/linthtml@0.8.3

Also I'm trying to have simples configuration for globally

[2021-12-15 09:09] viT-1 commented on #420
But `linthtml C:/Users/[username]/Documents/temp-code/testlint.html` gives me errors. Шt looks like the problem is in the vscode-linthtml

[2021-12-15 10:30] viT-1 commented on #321
Same problem. I want to set tabs. From [new configuration format](https://github.com/linthtml/linthtml/blob/develop/docs/migrations.md#030-upgrade-guide) I set `"indent-style": ["error", "spaces"]` and have error:
`Incorrect indentation for `h1` beginning at L3:C2. Expected `<h1>` to be at an indentation of 4 but was found at 1.  indent-style`

[2021-12-15 12:48] viT-1 commented on #321
With `"indent-style":false` have same error about `4 but was found at 1`.

[2021-12-15 15:23] KamiKillertO commented on #420
You have a problem with `attr-bans` because your config is incorrect.

It should be
[code]

[2021-12-15 15:25] KamiKillertO commented on #321
@viT-1 can you share your linthtml's config and some HTML ?

[2021-12-15 15:31] KamiKillertO commented on #321
If you have an error with `"indent-style":false` in your config file, it means that it's not the config used by LintHTML.
In a future release I'll provide a way to get the config file used by LintHTML for the current file (like the CLI did)

[2021-12-21 10:21] viT-1 commented on #321
@KamiKillertO Yes.
[html](https://github.com/viT-1/dist-gh-pages/blob/973d08b1d6b486fba8d15eae680eec3cab59e6cd/src/index.html) & config [rules](https://github.com/viT-1/dist-gh-pages/blob/973d08b1d6b486fba8d15eae680eec3cab59e6cd/linthtml.rules.json)

But I had to change extension to pass npm [linting script](https://github.com/viT-1/dist-gh-pages/blob/973d08b1d6b486fba8d15eae680eec3cab59e6cd/packa

[2021-12-21 10:31] viT-1 commented on #420
Thank you @KamiKillertO. Now its working (attribute `incorrect` is banned).
But what you think about removing necessity for set path to global configuration for VSCode by hands?

[2021-12-21 10:39] viT-1 commented on #321
Trying this configuration for using tabs:
`"indent-style": ["error", "spaces"], "indent-width": ["error", 1]`
but can't understand how should I break to new line paragraph:
[code]

[2021-12-21 10:46] viT-1 opened #422 "Which config is used when installed globally and on project?"
Your package behaves the same as eslint?
Which one is used when I linting by cli and which one is used by VSCode plugin? They are same?

[2021-12-21 10:51] viT-1 commented on #321
[Documentation](https://github.com/linthtml/linthtml/blob/develop/lib/rules/indent-style/README.md) is so confusing! =(

[2022-02-08 07:28] #420 closed

[2022-02-08 08:32] viT-1 opened #436 "Problem with package.json configuration, extends custom json file rules"
Linthtml v0.8.4 runned as npm srcipt `"linth": "linthtml src/**/*.html"`
All ok if I use `.linthtmlrc.js` file with content:
[code]

But if I move `extends` to `package.json` file, [all my redefined rule settings](https://github.com/viT-1/systemjs-babel-es6-vue/blob/aff43139cbfcaa92a403e41a1111d3777860ef43/linthtml.rules.json) in `./linthtml.rules.json` don't apply.

package.json:
[code]

linthtml

[2022-02-22 08:41] KamiKillertO commented on #436
🤔thanks for reporting, I'll look into.

[2022-02-22 09:13] KamiKillertO commented on #422
LintHTML behave almost the same as eslint yes. When linting files it will first search for the nearest config file for each HTML file and then lint the file

The vscode extension works the same as the eslint's one sine version 0.3.0.

When opening an HTML file the extension will :
1. locate the LintHTML bin (it can be a local deps, global one or an absolute path form config)
2. Search for the near

[2022-02-24 00:16] cherif87 commented on #151
Hello, Why do I see this error message in visual studio code, please advise :

Error linthtml: Cannot find global or local @linthtml/linthtml

[2022-02-28 09:25] KamiKillertO commented on #321
"indent-style": ["error", "spaces"], "indent-width": ["error", 1]

You are using spaces here, to use tabs you need to use the following config `"indent-style": ["error", "tabs"],`.
I agree that the documentation is confusing, it's an inheritance of HTMLLint and I'm planning on improving the docs in the near future.

`tabs` and `spaces` are equally tested.

[2022-03-07 13:51] KamiKillertO commented on #151
@cherif87 you have this error message because the vscode-linthtml extension cannot find a local or global installation for LintHTML. Make sure you have LintHTML locally or globally ([how to](https://github.com/linthtml/linthtml#installation-and-usage)).
If you still have the message after installation please open an issue [here](https://github.com/linthtml/vscode-linthtml)

[2022-03-10 07:52] viT-1 commented on #436
@KamiKillertO  Sorry, my mistake, acted by analogy with Stylelint.

[2022-03-10 07:52] #436 closed

[2022-03-14 11:46] acalvo opened #441 "Rule "ignoreFiles" does not exist"
Hey!

I have the following config:

`.linthtmlrc.js`:
[code]

`.builder/.linthtmlrc.json`:
[code]

Up to 0.8.3 it worked fine. Since 0.8.4, this error is thrown:

[code]

Thanks, as always, for your great job :)

[2022-03-16 07:17] KamiKillertO commented on #441
🤔 that's weird. Thanks for reporting a will look into it

[2022-03-25 10:20] KamiKillertO commented on #441
@acalvo I've released a fix :+

[2022-03-25 10:56] acalvo commented on #441
Thanks! Can't try it right now, will try to do it ASAP. Thanks again!

[2022-03-25 10:56] #441 closed

[2022-04-08 12:12] #422 closed

[2022-06-27 15:59] lawlesscreation opened #454 "Add "nomodule" to attr-req-value rule"
Hi, it seems the "nomodule" attribute is not in the list of allowed boolean attributes:

`<script nomodule src="/file.js"></script>`

results in:

`error  The attribute "nomodule" requires a value              attr-req-value `

But I believe it is a valid boolean attribute https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script#attr-nomodule.

[2022-07-06 19:34] riobuenoDevelops opened #457 "Can't use lintHTML as a npm run script of as husky pre-commit step"
Hi! I'm configuring lintHTML as a husky pre-commit step to check the HTML files but I'm getting the following error when husky try to run the command: `path should be a `path.relative()`d string, but got "/home/tania_work/Documents/Work/VertexStudio/Projects/vxr-medixlab/examples/index.html".

It works as expected when I run the command directly in the command line but it doesn't work with husky a

[2022-07-29 07:34] KamiKillertO commented on #457
@riobuenoDevelops Is it possible to share your husky's config?

[2022-07-29 21:42] riobuenoDevelops commented on #457
@KamiKillertO sure, it's this
![Screenshot from 2022-07-29 17-40-15](https://user-images.githubusercontent.com/56366166/181846708-c9a07ed3-2cf3-4509-8e27-25e6961398d7.png)

[2022-08-18 05:33] Kristinita commented on #411
**Type: Possible reason of the problem**

### 1. Quotes

The problem can also arise because linthtml requires "double quotes". 'Single quotes' don’t work.

### 2. Example

[code]

[code]

### 3. Environment

1. Microsoft Windows [Version 10.0.19041.1415]
2. linthtml 0.8.6

Thanks.

[2022-09-05 09:29] nickyblissAviva opened #469 "id-no-dup is falsely reporting duplicates"
Since upgrading to 0.9.0 `id-no-dup` it is now reporting thousands of duplicate ids. On investigation many, if not all of the reported duplicate ids are false as it appears to be flagging as a duplicate if the id string is used within an `aria-describedby`  attribute eg.

[code]

[2022-09-07 14:05] KamiKillertO commented on #469
@nickyblissAviva Are you able to reproduce the issue with only this HTML?
I've tried on my side and no issues are reported for this piece of HTML

[2022-09-07 14:06] KamiKillertO commented on #457
@riobuenoDevelops Thanks.
Sorry for the late answer, I've been really busy with the 0.9.0 release. I'll looks into your problem in the coming days

[2022-09-07 14:32] KamiKillertO commented on #457
For the moment there's nothing I can do easily. A lot of code inherits from HTMLint still remains, preventing me from fixing that issue right now.
But the good news is that you can solve your problem easily. By default lint-staged  send absolute paths to tasks, but there's an option to change that and instead provide relative paths to tasks.
You just need to update the way you call lint-staged in

[2022-09-07 15:06] nickyblissAviva commented on #469
@KamiKillertO Yes it does.
 Even just having something like the following on its own in a file causes the linter to throw an error. If I roll back to 0.8.6 its fine.

[code]

The odd thing is the message it comes back with

[code]

That test is a 3 line file

[2022-09-07 15:14] KamiKillertO commented on #469
🤔 The message is weird.
Looks like the rule is not clearing the id list between files 🤔 .

Can you create a github repo reproducing the issue and post the link here?

[2022-09-10 17:34] regseb opened #470 "Typescript cannot find module @linthtml/dom-utils/lib/dom_elements"
# Description

Typescript cannot find module _@linthtml/dom-utils/lib/dom_elements_. Directory `lib` doesn't exist in [_@linthtml/dom-utils_](https://www.jsdelivr.com/package/npm/@linthtml/dom-utils).

# Files

- package.json

[code]

- index.ts

[code]

# Commands

[code]

# Results

[code]

# Additional information

When installing _@linthtml/dom-utils_, there are the same errors.

[2022-09-10 19:29] regseb opened #471 "[0.9.0] `htmllint()` function doesn't default export"
Version 0.9.0 no longer exports the `htmllint()` function by default. I think the problem is with the TypeScript transpiler or the module bundler, because [index.ts](https://github.com/linthtml/linthtml/blob/develop/packages/linthtml/lib/index.ts#L151-L153) exports function by default.

---

[code]

With _0.9.0_:

[code]

With _0.8.6_:

[code]

[2022-09-12 07:14] KamiKillertO commented on #470
@regseb Sorry it's something that I've forgotten to add in the readme. The packages are not ready to be used alone.
I'm still working on it.

[2022-09-12 07:15] KamiKillertO commented on #471
@regseb Thanks for reporting, I'll look into it.

[2022-09-13 18:16] rishuverkey commented on #469
I am also facing the same issue.

[2022-09-14 05:58] KamiKillertO commented on #469
@rishuverkey is there a way for you to share a github repo reproducing the issue?

[2022-09-14 07:36] KamiKillertO commented on #469
I'm currently unable to reproduce the issue

[2022-09-21 07:03] KamiKillertO commented on #469
@rishuverkey @nickyblissAviva ?

[2022-09-21 07:29] nickyblissAviva commented on #469
Will try and fit some time in to create an example repo but unfortunately my job queue has to come first and also work security policies make it impossible to use github so I'll have to set something up on a home machine.

[2022-09-22 11:24] KamiKillertO commented on #469
@nickyblissAviva you can send me a link to a gitlab repo or others if it's easier for you. It does not matter to me.
It's just that I'm not able to reproduce on my machine so having an existing repo that I can use for testing.

[2022-09-27 12:02] HOKComics commented on #471
Seems like this breaks the LintHTML VSC extension. Celan install of both resluts in the error message "linthtml: lintHTML is not a function. Check your config file" when I open a html file in VSC.

[2022-10-05 09:34] KamiKillertO commented on #471
I've started invetigating the problem.
I'm curious @regseb, why is that an issue for you? Are you directly using linthtml somewhere?

[2022-10-05 10:53] regseb commented on #471
I am developing a project that aggregates several linters (using at API) : [Metalint](https://github.com/regseb/metalint). I integrate LintHTML and I found this difference by upgrading to version _0.9.0_. I can work around it, but I reported this problem because I don't think this change is voluntary.

[2022-10-05 11:28] KamiKillertO commented on #471
I'm happy to hear of people using LintHTML to build other things.
Yeah, it's an unwanted change. The Typescript migration was a challenge, and it looks like I missed a few things.

[2022-10-13 14:09] KamiKillertO commented on #470
@regseb I've started working on that.
The next version (minor or patch, don't now yet) should fix the type exports.

[2022-10-13 18:34] regseb commented on #471
If the default export isn't possible, the `linthtml` method should be exported normally.

| Version | Import |
| --- | --- |
| 0.8.x | `import linthtml from "@linthtml/linthtml";` |
| 0.9.x | `import LintHTML from "@linthtml/linthtml"; const linthtml = LintHTML.default;` |
| 0.10.x | `import { linthtml } from "@linthtml/linthtml";` |

[2022-10-14 08:04] KamiKillertO commented on #471
@regseb  I need to think about it. Changing the export once again has many impacts, I'll need to update the vscode extension once again to support 3 different kind of export 😓 . I'm not sure it's good idea

[2022-10-14 10:48] regseb commented on #471
You can keep the default export to not break the API. And add the _normal_ export of the `linthtml` method.

[code]

[2022-11-07 20:17] MiladSadinam opened #489 "Not possible to disable a custom rule with inline comment"
Hi,

I believe I have a found a bug which makes it impossible to disable a custom rule with an inline comment.

I have created a custom rule as a npm package which works fine. What I have:

[code]

The npm package is called `linthtml-plugin-i18n-not-splitted`. The package.json has the following content:
[code]

I have added this to my `.linthtmlrc`:
[code]
Until here, everything works fine. I was

[2022-11-10 07:58] KamiKillertO commented on #489
@MiladSadinam Thanks for reporting, I'll have a look to this 👍 .

This is normal, it's to avoid any naming conflicts between core rules and the plugin's rules, it's somehow documented [here](https://linthtml.vercel.app/developer-guide/plugins#expose-rules-in-plugins). I need to work on the documentation and improve it.